.section-center {
  margin: 0 auto;
  width: 90%;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  background: #9d7463;
  margin-left: auto;
  margin-right: auto;
}

.intro-size {
  padding: 1rem 0;
}

.box-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem 0;
}

.icon {
  text-align: center;
  font-size: 3rem;
}

.box {
  padding: 2rem 1rem;
  overflow: hidden;
  margin-top: 30px;
}

.about-container {
  margin: 0 auto;
  width: 90%;
  padding: 5rem 0;
}

a.link-text {
  color: #B89065;
  font-weight: bolder;
}

.link-text:hover {
  color: #1d1e1e;
}

.box-body {
  height: 100%;
}

.flex-list {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  /* grid-gap: 1rem; */
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 1.3rem; */
}

.skill-list {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  color: #5f7782;
  line-height: 1.5rem;
  font-weight: 500;
}

.skill-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}


.skill {
  /* border: 1px solid #5e6267; */
  /* border-radius: 1rem; */
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.about-text {
  padding: 1rem 0;
}

@media screen and (min-width: 800px) {
  .about-container {
    width: 55%;
  }
}