.section-center {
  margin: 0 auto;
  width: 90%;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #1d1e1e;
  margin-left: auto;
  margin-right: auto;
}

.box-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.box {
  padding: 30px 15px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #EEE;
  margin-top: 30px;
  box-shadow: 0 10px 50px rgb(20 50 47 / 3%), 0 10px 40px rgb(0 0 0 / 3%);
  /* text-align: center; */
}
