.section-center {
  margin: 0 auto;
  width: 90%;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #1d1e1e;
  margin-left: auto;
  margin-right: auto;
}

.box-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 2rem 0;
}

.box {
  padding: 30px 15px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #EEE;
  margin-top: 30px;
  box-shadow: 0 10px 50px rgb(20 50 47 / 3%), 0 10px 40px rgb(0 0 0 / 3%);
  /* text-align: center; */
}

.about-container {
  margin: 0 auto;
  width: 80%;
  padding: 5rem 0;
}

.box-body {
  height: 100%;
}

.flex-list {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-box {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.skill-list {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  color: #5e6267;
  line-height: 2rem;
}

.title {
  margin-bottom: 1.5rem;
  /* font-size: 15px; */
  text-transform: uppercase;
  font-weight: bold;
}